fastapi
uvicorn[standard]
sqlalchemy[asyncio]
psycopg2-binary
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
pillow
torch
torchvision
opencv-python
sentence-transformers
transformers
accelerate
ftfy
ultralytics
